body {
    text-align: left;
    color: #000000;
    padding: 0px;
    margin: 0px;
}
.word_def_w {font-size: 2em;}
.lon_def {font-size: 0.75em;}
.explaincard {
    margin:0px; 
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
}
.explaincard_title {
    color: #000000;
    font-weight: bold;
    border-left:5px solid #1282e2; 
    margin-bottom: 10px;
}
.explaincard_content {
    margin-bottom: 5px;
    line-height: 1.5em;
    margin-top: 5px;
    color: #000000;
}
.hr_more_define {
    border:none;
    border-top: 1px solid #B3E5FC;
}
.hw {
    display:none;
}
.pt {
    display:none;
    }
.word-frequency {
    margin-bottom:3px;
    }
.coca2 {
    margin-top:5px;
    }
.coca_desc {
    margin-top:3px;
    }
.pos_v {
    display: inline;
    vertical-align:middle;
    padding:1px 2px 1px 2px;
    text-align: center;
    border-radius: 5px;
    margin: 0px 3px 0px 0px;
    font-size:12px;
    color: #ffffff;
    background: #4CAF50;
}
.pos_n {
    display: inline;
    vertical-align:middle;
    padding:1px 2px 1px 2px;
    text-align: center;
    border-radius: 5px;
    margin: 0px 3px 0px 0px;
    font-size:12px;
    color: #ffffff;
    background: #03A9F4;
}
.pos_j {
    display: inline;
    vertical-align:middle;
    padding:1px 2px 1px 2px;
    text-align: center;
    border-radius: 5px;
    margin: 0px 3px 0px 0px;
    font-size:12px;
    color: #ffffff;
    background: #f9320c;
}
.pos_r {
    display: inline;
    vertical-align:middle;
    padding:1px 2px 1px 2px;
    text-align: center;
    border-radius: 5px;
    margin: 0px 3px 0px 0px;
    font-size:12px;
    color: #ffffff;
    background: #7200da;
}
.pos_u {
    display: inline;
    vertical-align:middle;
    padding:1px 2px 1px 2px;
    text-align: center;
    border-radius: 5px;
    margin: 0px 3px 0px 0px;
    font-size:12px;
    color: #ffffff;
    background: #ff5f2e;
}
.label {
    padding:1px 2px 1px 2px;
    text-align: center;
    border-radius: 5px;
    margin: 3px;
    text-transform:capitalize;
    font-size:12px;
    border:1px solid;
}    
.label-primary {
    color: rgb(18,130, 226);
    border-color: rgb(18,130,226);
}
.label-success {
color: rgb(18,130, 226);
    border-color: rgb(18,130,226);
}
.label-info {
color: rgb(18,130, 226);
    border-color: rgb(18,130,226);
}
.label-warning {
color: rgb(18,130, 226);
    border-color: rgb(18,130,226);
}
.rank {
    font-style: italic;
}
.total {
    font-style: italic;
}
.rank:before {
    content: " RANK ";
    font-weight: normal;
    font-style: normal;
}
.rank:after {
    content: " FREQ ";
    font-weight: normal;
    font-style: normal;
}
.table {
    display: none;
}
.pos {
    background: #4CAF50;
    color:#ffffff;
    border-radius: 2px;
    padding: 1.5px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 0.9em;
}
.pos:after {
    content: ".";
}
.rank {
    display: inline;
    vertical-align:middle;
}
.total {
    display: inline;
    vertical-align:middle;
}